/* home */
.home_cards-box {
    display: flex;
  }
  .img__home {
    width: 100%;
  }
  .home_cards-wrapper_codingnepal {
    display: flex;
    width: 100vw;
    position: absolute;
    /* left: 50%; */
    top: 30%;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.75);
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .card_glow-on-hover {
    width: 222px;
    height: 180px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .card_glow-on-hover:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .card_glow-on-hover:active {
  
  }
  
  .card_glow-on-hover:active:after {
  
  }
  
  .card_glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .card_glow-on-hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  /* end home */