.newestMovies__container-table {

width: 70vw;

height: 100vh;
}
.newestMovies__container-box-table {


}
.newestMovies__title {
padding: 13px 0px 0px 0px;
margin: 41px 0px 50px 0px;
text-align: center;
}