@import './slidebarMenu.css';
@import './moviesAdd.css';
@import './moviesEdit.css';
@import './movieList.css';
@import './home.css';
@import './genreList.css';
@import './recommendedMovies.css';
@import './newestMovies.css';
@import './moviesDetail.css';
@import './moviesDetailOmdb.css';
@import './moviesDelete.css';




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}
img {
  width: 100%;
}
figure {
  width: 20%;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}