<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'SalióPeli | Home' }) %>

  <!-- ----------------------------------- -->

  <body class="body_moviesAdd">


    <div class="home_body_codingnepal">

      <%- include('partials/slideBarMenu') %>
        <div class="home_cards-wrapper_codingnepal">

          <div class="home_cards-box">

            <div>
              <div class="col my-md-3 my-xl-3 card_glow-on-hover">
                <div class="card h-100 mx-md-3 mx-xl-3" id="img-card">
                  <a href="/movies/recommended">

                    <img src="/img/Top5.png" alt="imagen de la noticia">

                  </a>


                </div>
              </div>
            </div>

            <div>
              <div class="col my-md-3 my-xl-3 card_glow-on-hover">
                <div class="card h-100 mx-md-3 mx-xl-3" id="img-card">
                  <a href="/movies/new">

                    <img src="/img/img_estrenos.png" alt="imagen de la noticia">

                  </a>


                </div>
              </div>
            </div>

            <div>
              <div class="col my-md-3 my-xl-3 card_glow-on-hover">
                <div class="card h-100 mx-md-3 mx-xl-3" id="img-card">
                  <a href="/genres">

                    <img src="/img/img_genres.png" alt="imagen de la noticia">

                  </a>
                </div>
              </div>
            </div>

            <div>
              <div class="col my-md-3 my-xl-3 card_glow-on-hover">
                <div class="card h-100 mx-md-3 mx-xl-3" id="img-card">
                  <a href="/movies">

                    <img src="/img/img_movie-list.png" alt="imagen de la noticia">

                  </a>
                </div>
              </div>
            </div>

          </div>


        </div>

    </div>



  </body>
  <%- include('partials/scripts') %>
  <!-- ---------------------------------- -->
  <footer>

  </footer>

</html>